<mat-card class="example-card mat-elevation-z8">
    <mat-card-header class="mx-auto text-center">
        <mat-card-title>
            <ng-container *ngIf="movie">{{ info.title }}</ng-container>
            <ng-container *ngIf="show">{{ info.name }}</ng-container>
        </mat-card-title>
        <mat-card-subtitle>
            Original Title: 
            <ng-container *ngIf="movie">{{ info.original_title }}</ng-container>
            <ng-container *ngIf="show">{{ info.original_name }}</ng-container> 
            | {{ info.original_language | uppercase }}
        </mat-card-subtitle>
        <mat-card-subtitle>Genre: <span *ngFor="let genre of info.genres; let isLast = last">
                {{ genre.name }}{{isLast ? '' : ', '}} </span> </mat-card-subtitle>
        <mat-card-subtitle>
            <ng-container *ngIf="movie">Release Date: {{ info.release_date }}</ng-container>
            <ng-container *ngIf="show">First Air Date: {{ info.first_air_date }}</ng-container>
        </mat-card-subtitle>
        <mat-card-subtitle>Rating: {{ info.vote_average }} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/original{{ info.backdrop_path }}" alt="">
    <mat-card-content>
        <p>{{ info.overview }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>