<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="toggleSideNav()" routerLinkActive="active-nav">Home
        <mat-icon class="pl-2">home</mat-icon>
    </a>
    <a mat-list-item routerLink="/movies" (click)="toggleSideNav()" routerLinkActive="active-nav">Movies
        <mat-icon class="pl-2">movie</mat-icon>
    </a>
    <a mat-list-item routerLink="/tv" (click)="toggleSideNav()" routerLinkActive="active-nav">TV Shows
        <mat-icon class="pl-2">tv</mat-icon>
    </a>
    <!-- <a mat-list-item routerLink="/training" (click)="toggleSideNav()" routerLinkActive="active-nav">Account
        <mat-icon class="pl-2">portrait</mat-icon>
    </a> -->
    <!-- <mat-list-item>
        <button mat-icon-button routerLinkActive="active-nav">Logout
            <mat-icon class="pl-2">eject</mat-icon>
        </button>
    </mat-list-item> -->
</mat-nav-list>