<div class="movie-detail py-4 fade-in">
    <app-spinner *ngIf="!isLoaded && !isError"></app-spinner>
    <app-api-error *ngIf="isError"></app-api-error>
    <div class="row" *ngIf="isLoaded && !isError">
        <div class="col-lg-3 col-md-4">
            <div>
                <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt=""
                    class="img-fluid mat-elevation-z8">
            </div>
            <div class="pt-3">
                <app-info-card [movie]="movie"></app-info-card>
            </div>
            <div class="pt-3">
                <app-scroll-cast [credits]="credits" type="movie" *ngIf="credits"></app-scroll-cast>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 pt-3 pt-md-0">
            <div>
                <app-detail-card [movie]="movie"></app-detail-card>
            </div>
            <div class="pt-3">
                <mat-card class="mat-elevation-z8">
                    <mat-card-content>
                        <app-movies-list movieType="similar" movieTypeTitle="Similar" movieId="{{movie.id}}">
                        </app-movies-list>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="pt-3">
                <mat-card class="mat-elevation-z8">
                    <mat-card-content>
                        <app-movies-list movieType="recommendations" movieTypeTitle="Recommended"
                            movieId="{{movie.id}}">
                        </app-movies-list>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="pt-3">
                <mat-card class="mat-elevation-z8">
                    <mat-card-content>
                        <app-reviews type="movie" id="{{movie.id}}"></app-reviews>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>