<div class="credits py-4 fade-in">
    <div class="loading text-center" *ngIf="!isLoaded && !isError">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="error" *ngIf="isError">
        <h2 class="text-center">Try Again Later!</h2>
    </div>
    <div class="row text-center" *ngIf="isLoaded && !isError">
        <div class="col-12 px-0">
            <h2>Cast</h2>
            <div class="card-columns px-3">
                <div *ngFor="let cast of credits.cast" class="">
                    <div class="card mb-3 mat-elevation-z8">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://image.tmdb.org/t/p/original{{ cast.profile_path }}" class="card-img"
                                    alt="Image Not Available">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body my-auto">
                                    <h5 class="card-title">{{ cast.name }}</h5>
                                    <p class="card-text">Character Name : {{ cast.character }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 pt-4 border-top">
            <h2>Crew</h2>
            <div class="card-columns px-3">
                <div *ngFor="let crew of credits.crew" class="">
                    <div class="card mb-3 mat-elevation-z8">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://image.tmdb.org/t/p/original{{ crew.profile_path }}" class="card-img"
                                    alt="Image Not Available">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body my-auto">
                                    <h5 class="card-title">{{ crew.name }}</h5>
                                    <p class="card-text">Job : {{ crew.job }}</p>
                                    <p class="card-text">Department : {{ crew.department }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>