<div class="movie-detail py-4">
    <div class="loading text-center" *ngIf="!isLoaded && !isError">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="error" *ngIf="isError">
        <h2 class="text-center">Try Again Later!</h2>
    </div>
    <div class="row" *ngIf="isLoaded && !isError">
        <div class="col-md-3">
            <div>
                <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt=""
                    class="img-fluid mat-elevation-z8">
            </div>
            <div class="pt-3">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header class="mx-auto text-center">
                        <mat-card-title>More Info About {{ movie.title }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="text-center">
                        <label class="d-block">Check out the <a href="{{ movie.homepage }}"
                                target="_blank">Homepage</a></label>
                        <label class="d-block">Check it out at <a href="https://www.imdb.com/title/{{ movie.imdb_id }}"
                                target="_blank">IMDB</a></label>
                        <label class="d-block">Check it out at <a href="https://www.themoviedb.org/movie/{{ movie.id }}"
                                target="_blank">TMDB</a></label>
                        <label class="d-block">Production Companies :</label>
                        <div class="row py-3" *ngFor="let company of movie.production_companies; let isLast = last"
                            [class.border-bottom]="!isLast">
                            <div class="col-5">
                                <img src="https://image.tmdb.org/t/p/original{{ company.logo_path }}" alt="Image Not Available"
                                    class="img-fluid">
                            </div>
                            <div class="col-7 my-auto">
                                <label>{{ company.name }}</label>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="pt-3">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header class="mx-auto text-center">
                        <mat-card-title>Cast and Crew</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row height-fix d-block">
                            <div class="col-6 pt-2 align-top" *ngFor="let cast of credits.cast"
                                [class.d-inline-block]="cast.profile_path" [class.d-none]="!cast.profile_path">
                                <img src="https://image.tmdb.org/t/p/original{{ cast.profile_path }}"
                                    alt="Image Not Available" class="img-fluid">
                                <label class="d-block text-wrap">{{ cast.name }}</label>
                                <label class="d-block text-wrap">{{ cast.character }}</label>
                            </div>
                        </div>
                        <div class="text-center pt-3">
                            <button mat-raised-button color="primary">View More</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9 pt-3 pt-md-0">
            <mat-card class="example-card mat-elevation-z8">
                <mat-card-header class="mx-auto text-center">
                    <mat-card-title>{{ movie.title }}</mat-card-title>
                    <mat-card-subtitle>Original Title: {{ movie.original_title }} |
                        {{ movie.original_language | uppercase }}</mat-card-subtitle>
                    <mat-card-subtitle>Genre: <span *ngFor="let genre of movie.genres; let isLast = last">
                            {{ genre.name }}{{isLast ? '' : ', '}} </span> </mat-card-subtitle>
                    <mat-card-subtitle>Release Date: {{ movie.release_date }} </mat-card-subtitle>
                    <mat-card-subtitle>Rating: {{ movie.vote_average }} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}" alt="">
                <mat-card-content>
                    <p>{{ movie.overview }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>