<div class="movie-detail py-4 fade-in">
    <app-spinner *ngIf="!isLoaded && !isError"></app-spinner>
    <app-api-error *ngIf="isError"></app-api-error>
    <div class="row" *ngIf="isLoaded && !isError">
        <div class="col-lg-3 col-md-4">
            <div>
                <img src="https://image.tmdb.org/t/p/original{{ show.poster_path }}" alt=""
                    class="img-fluid mat-elevation-z8">
            </div>
            <div class="pt-3">
                <app-info-card [show]="show"></app-info-card>
            </div>
            <div class="pt-3">
                <app-scroll-cast [credits]="credits" type="tv" *ngIf="credits"></app-scroll-cast>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 pt-3 pt-md-0">
            <app-detail-card [show]="show"></app-detail-card>
        </div>
    </div>
</div>