<mat-toolbar color="primary">
    <button class="d-lg-none" mat-icon-button (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="pt-1 pl-2">
        <a routerLink="/home" class="text-white text-decoration-none">Binge Watcher</a>
    </div>
    <div class="w-100">
        <ul class="d-none d-lg-flex ml-auto my-auto nav-list">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active-nav">Login</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active-nav">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/movies" routerLinkActive="active-nav">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tv" routerLinkActive="active-nav">TV Shows</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/signup" routerLinkActive="active-nav">Account</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link">Logout</a>
            </li> -->
        </ul>
    </div>
</mat-toolbar>