<mat-card class="mat-elevation-z8">
    <mat-card-header class="mx-auto text-center">
        <mat-card-title>
            More Info About 
            <ng-container *ngIf="movie">{{ info.title }}</ng-container>
            <ng-container *ngIf="show">{{ info.name }}</ng-container>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="text-center">
        <label *ngIf="info.homepage" class="d-block">Check out the <a href="{{ info.homepage }}"
                target="_blank">Homepage</a></label>
        <label class="d-block" *ngIf="info.imdb_id">Check it out at <a href="https://www.imdb.com/title/{{ info.imdb_id }}"
                target="_blank">IMDB</a></label>
        <label class="d-block">Check it out at <a href="https://www.themoviedb.org/movie/{{ info.id }}"
                target="_blank">TMDB</a></label>
        <label class="d-block">Production Companies :</label>
        <div class="row py-3" *ngFor="let company of info.production_companies; let isLast = last"
            [class.border-bottom]="!isLast">
            <div class="col-5">
                <img src="https://image.tmdb.org/t/p/original{{ company.logo_path }}" alt="Image Not Available"
                    class="img-fluid">
            </div>
            <div class="col-7 my-auto px-0">
                <label>{{ company.name }}</label>
            </div>
        </div>
    </mat-card-content>
</mat-card>