/* .overlay {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    will-change: opacity;
    pointer-events: none;
} */

.overlay{
    position: absolute;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(4,0,0,1));
    height: 100%;
    width: 15vw;
    right: 0;
    z-index: 1;
    pointer-events: none;
}