<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Popular">
        <app-scroll-list type="movie" category="popular" title="Popular Movies"></app-scroll-list>
        <app-scroll-list type="tv" category="popular" title="Popular TV Shows"></app-scroll-list>
    </mat-tab>
    <mat-tab label="Top Rated">
        <app-scroll-list type="movie" category="top_rated" title="Top Rated Movies"></app-scroll-list>
        <app-scroll-list type="tv" category="top_rated" title="Top Rated TV Shows"></app-scroll-list>
    </mat-tab>
</mat-tab-group>